<h1 class="text-center mt-4">Listing all articles</h1> <!--We use a class of bootstrap to center and put a marging top -->
  
  <div class="container">
    <% @articles.each do |article| %> <!--here we are interating to all articles and actions-->
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
              by <%= article.user.username if article.user %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5><!--transform to a link, and redirect to this article show page, use a class to change the link color to success-->
              <p class="card-text"><%= truncate(article.description, length: 100) %></p><!--using truncate method to give a length number to description-->
             <!-- <a href="#" class="btn btn-outline-success">View</a> -->
              <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
             <!-- <a href="#" class="btn btn-outline-info">Edit</a>-->
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
              <!--<a href="#" class="btn btn-outline-danger">Delete</a>-->
              <%= link_to "Delete", method: :destroy,  class: "btn btn-outline-danger" %>
            </div>
            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(article.created_at) %> ago,
                edited <%= time_ago_in_words(article.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>