<!--Check first if there any error when trying to save the article-->
<!--Code for validation error-->
<!--This is a partial file, where you group all common code and render exactly
where you want to-->
<div class= "container">
   
    <!--This render the form-->
    <div class="row justify-content-center"> <!--To center the form-->
        <div class="col-10">
            <!--here to render the errors valiidation from errors.html.erb partial-->
            <%= render 'shared/errors', obj: @user %>
            <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
                <!--Using form-group row class from bootstrap-->
                <div class="form-group row">
                    <%= f.label :username, class: "col-2 col-form-label text-light" %>
                    <div class= "col-10">
                        <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a username" %>
                    </div>
                </div>
                
                <div class="form-group row">
                    <%= f.label :email, class: "col-2 col-form-label text-light" %>
                    <div class= "col-10">
                        <%= f.email_field :email, class: "form-control shadow rounded", placeholder:"Enter your email address" %>
                    </div>
                </div>
                
                <div class="form-group row">
                    <%= f.label :password, class: "col-2 col-form-label text-light" %> <!--using virtual attribute of password field-->
                    <div class= "col-10">
                        <%= f.password_field :password, class: "form-control shadow rounded", placeholder:"Choose a password" %>
                    </div>
                </div>
                
                <div class="form-group row justify-content-center">
                    <%= f.submit 'Sign up', class: "btn btn-outline-light btn-lg" %>
                </div>
                
            <% end %>
            <%= link_to '[ Cancel and Return to listing page ]', articles_path, class:"form-group row justify-content-center text-info" %>
        </div>
        
    </div>
       
</div>