<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--to display flash from article controller after create successful article-->
    <!--for calling the block code in partial file name "messages"-->
    <%=  render 'layouts/messages' %>
    
    <%= yield %>
  </body>
</html>
